body {
  font-family: 'Roboto Mono', monospace; 
  // font-family: "Inter", sans-serif;
  // font-family: 'Comfortaa', cursive;
  color: #2c2c2c;
  font-weight: 500;
  background: #fff;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  &::selection {
    background: #4092f776;
  }
  cursor: url("/cursor.svg") 2 2, default;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  li {
    list-style: none;
  }
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
// -------------------------------
.wrapper {
  max-width: 1440px;
  margin: 0px auto;
}

.content {
  padding: 30px 10px;
}
.main {
  transition: 0.5s;
}

.flex {
  display: flex;
  align-items: center;
}
.icon {
  width: 18px;
  height: 18px;
}
.notes-content{
  display: flex;
  flex-wrap: wrap;

}

.window-wrapper {
  display: flex;
}

.search {
  width: 100%;
  padding: 12px 0px 12px 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  background: #ECECEC;
  ::placeholder{
    color: #aeaeae;
  }
  &__img {
    margin: 0px 8px 0px 0px;
  }
  &__input {
    background: transparent;
    max-width: 100%;
    font-size: 16px;
  }
}
.icon {
}



@media(max-width: 560px){
  // .window-wrapper {
  //   display: block;
  // }
  // .main {
  //   width: 100%;
  //   min-height: 100vh;
  //   position: relative;
  //   top: 0;
  //   right: 0;
  //   transform: translateX(-100%);
  //   z-index: 0;
  //   background: #ffffff;
  //   padding: 50px 0px 0px 0px;
  // }
  // .main-active{
  //   transform: translateX(0%);
  //   z-index: 100;
  // }
}
